@(header: String, form: Form[Contato])

@main("Novo Contato - Agenda"){

<h1>@header</h1>

@helper.form(action = routes.ContatoController.salva()){
<!--<form action="@routes.ContatoController.salva" method="POST">-->
    <input type="hidden" name="id" value="@form("id").value">
<label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" value="@form("nome").value" >
<label for="telefone">Tel:</label>
    <input type="text" id="telefone" name="telefone" value="@form("telefone").value">

    <button type="submit" >Salvar</button>

<!--</form>-->
}
}